@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sider-rounded .ant-layout-sider-children::before {
  border-top-right-radius: 0.5rem; /* Adjust the radius as desired */
  overflow: hidden;
}

.sider-rounded > div {
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}
